
/*
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
} 
*/

body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  background: url(images/bg5.png) no-repeat; 
  font-family: 'Oxygen', sans-serif;
  background-position: center center;


      /* This is the code for setting the background in the feature 
      * needs to be changed to dynamic and hopefully javascript . */

      background-attachment: fixed;
      background-size: cover;


    }


    /** HEADER **/
    #header-nav {
     margin: .01%;
     border: solid;
     border-radius: 0;
     background-color: #17204f;
   }

   #logo-img {

    border: 0px;
    background: no-repeat;
    width: 162px;
    height: 90px;
    margin: 0px 15px 10px 0px;

  }

  .navbar-brand {
  /*padding-top: 25px;
  padding-bottom: 25px;*/

}

/* description of business.  */
.navbrand p {  
/*
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 80%;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top:  5%;
  margin-bottom: 5%;
  line-height: .10;
  */


  font-family: 'Lora', serif;
  font-size: 60%;
  font-weight: bold;

  margin-top:  5%;
  margin-bottom: 5%;

  
}

.navbar-brand p { /* Name of store */
  /*clear:both;*/
  font-family: 'Lora', serif;
  font-size: 110%;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 5%;
  margin-left: 10%;
  color: white;
  margin-bottom: 5%;

}
/*.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
} */

.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#phone div { /* We Deliver */
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}

/*.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
  }*/

  #jumbotron img {

    padding: 10px;


  }

  #main-content
  {
    /*background-color: white; */
  }


  #east-side iframe{
   height: 250px;
   width: 100%;
   margin-bottom: 15px;
   position: relative;
 }


 #west-side iframe{
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
}
/* END HEADER */

 #east-side a
{
    margin-left:auto;
   margin-right:auto;
   text-align:center;
    background-color: grey;
    width:75%;
    display: block;
    text-decoration: none;
    text-decoration-color: white;
 }

 #west-side a
{
    margin-left:auto;
   margin-right:auto;
   text-align:center;
   background-color: grey;
   width:75%;
   display: block;
 }

 #west-side a p
 {

  text-decoration: none;
   color: white;
 }

 #east-side a 
 {

    text-decoration: none;
   color: white;
 }

/* Large */
@media (min-width: 1200px)
{

}

/*medium */
@media (min-width: 992px) and (max-width: 1199px)
{

}

/*small */
@media (min-width: 768px) and (max-width: 991px) 
{


}


/********** Extra small devices only **********/
@media (max-width: 767px) 
{

}

 /* In case you're dealing with a block element apply this to the element itself */
.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}

/* In case you're dealing with a inline element apply this to the parent */
.text-center {
   text-align:center
}
